$menuLinkCode: rgba(86, 142, 213, 1);


.bg-grey {
  background-color: #fbfbfb;

}

html {
  font-size: 15px;
}

h2 {
  margin-top: 25px;
  font-size: 2rem;
}

h3 {
  margin-top: 25px;
  font-size: 1.5rem;
}
h4 {
  margin-top: 25px;
  font-size: 1.2rem;
}

a.headerlink {
  display: none;
}
.staticattr:hover .headerlink,
.attr:hover .headerlink,
.staticmethod:hover .headerlink,
.method:hover .headerlink,
h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
  display: inline;
  margin: 0 0 0 5px;
  font-size: 80%;
  padding: 0;
  line-height: 95%;
  vertical-align: center;
  color: rgba(86, 142, 213, 0.45);
}

/* arguments */
dl.exception em,
dl.interface em,
dl.attr em,
dl.class em,
dl.trait em,
dl.method em,
dl.const em,
dl.staticmethod em {
  font-family: "Roboto Mono", "Consolas", "Monaco", monospace;
  color: #444;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

/* type flags */
dl.exception em.property,
dl.interface em.property,
dl.attr em.property,
dl.class em.property,
dl.trait em.property,
dl.method em.property,
dl.staticmethod em.property,
dl.const em.property {
  background: #ECECE9;
  font-size: 11px;
  padding: 2px 0px 2px 8px;
  border-radius: 4px;
  margin-right: 5px;
}

/* method and property definitions */
.role,
.directive,
.class,
.trait,
.const,
.attr,
.function,
.method,
.staticmethod {
  margin-bottom: 1em;
}
.role dt,
.directive dt,
.class dt,
.trait dt,
.const dt,
.attr dt,
.function dt,
.method dt,
.staticmethod dt {
  font-size: 14px;
  margin-bottom: 5px;
}

code.descclassname {
  padding-right: 0;
  background-color: inherit;
}

code.descname {
  padding-left: 2px;
  background-color: inherit;
}

div.page-contents, aside.sidebar {

  li {
    font-size: 13px;
    line-height: 13px;
  }

  a {
    color: #363637;
    display: block;
    margin-bottom: 8px;

    &.current {
      color: $menuLinkCode;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul ul {
    margin: 0 1.5em;
  }
}

.admonition .admonition-title {
  display: none;
}

.admonition, .deprecated,.versionadded,.versionchanged {
  margin: 20px 0;
  padding-left: 60px;
  position: relative;
  min-height: 55px;
  line-height: 55px;
  overflow: hidden;
  
  &.admonition {
    background-color: rgba(255, 190, 43, 0.45);

    &.note:before {
      content: '\f249';
    }

    &:before {
      content: '\f071';
      color: rgb(255, 190, 43);
    }
  }

  &.versionadded {
    background-color: rgba(70, 213, 155, 0.45);
    &:before {
      content: '\f0fe';
      color: rgb(70, 213, 155);
    }
  }

  &.versionchanged {
    background-color: rgba(70, 213, 155, 0.45);
    &:before {
      content: '\f044';
      color: rgb(70, 213, 155);
    }
  }

  &.deprecated {
    background-color: rgba(137, 78, 213, 0.45);
    &:before {
      content: '\f253';
      color: rgb(137, 78, 213);
    }
  }

  p {
    margin: 0;
    padding: 0;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &:before {
    display: block;
    line-height: 35px;
    position: absolute;
    top: 10px;
    left: 15px;
    user-select: none;

    font: {
      family: FontAwesome;
      size: 35px;
    }

    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
  }
}

div.form-group, .bootstrap-example {
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}

div.shields {
  padding: 20px 2px
}